body {
  font-family: 'Gravitas One', cursive;
  font-family: 'Playfair Display', serif;}
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.logo {
  background-color: #47636c;
}

.background {
  background-color: #6495a8;
}

h1 {
  color: #afd5c9;
}

ul {
  text-decoration: none;
  text-align: left;
  color: #8db493;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: white;
  text-align: left;
}

li a:hover {
  background-color: #afd5c9;
  color: #47636c;
}


.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.title {
  font-family: 'Gravitas One', cursive;
  color: #47636c;
}

.title-2 {
  font-family: 'Gravitas One', cursive;
  color: #47636c;
}

.sub {
  font-family: 'Gravitas One', cursive;
  color: #47636c;
}

.list {
  color: #8aa3ad;
}

.background-2 {
  background-color: #47636c;
}

.text-colour {
  color: #212f39;
}

.black {
  color: black;
}


button,
.btn-2:hover{
  background-color: #afd5c9;
  color: white;
}


.btn-2 {
  background-color: #8db493;
  border-radius: 8px;
  border: none;
}
